<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>KIT DESARROLLO - 4G FACTOR</title>
	</head>
	<body>
		<center>
		<label><font color="BLUE" size="+3"><b>Abrir sesi&oacute;n</b></font></label><br><br>
		<b>C&oacute;digo PHP </b><br><br>
		</center>
		<pre name="code" class="php:nocontrols">
		//lib
		require_once('../conf/nusoap.php');
		//indicamos el archivo wspac.wsdl
		$client = new soapclient('wspac.wsdl', 'wsdl');

		$err = $client->getError();
		if ($err) {
			//   Muestra error
			echo 'Error al construir el cliente: ' . $err ;
		}else {
			$params = array('TOKEN_WS'); /*token de sesion a cerrar*/
			$answer = $client->call('closeSession', $params );
			$err = $client->getError();
		  
			if ($err) {
				//     Muestra error
				echo 'Error: ' . $err;
				print_r($client->response);
				print_r($client->getDebug());
			} else {
				//     Respuesta ws
				print_r('Ok = '.$answer['ok']);
				print_r('Token = '.$answer['token']);
				print_r('errorCode = '.$answer['errorCode']);
			}
		}
		</pre>
		<center>
			<br><br><a href="javascript:history.back()"> Volver Atrás</a> 
			<br><br><br><br>
			<b><font color="BLUE" size="-1">4G Factor, S.A. de C.V.</font></b>
		</center>
	</body>
</html>