.overflow-auto{
	overflow: auto;
}

.margin-top{
	margin-top: 1em;
}

.table-search input{
	font-size: 14px;
	font-weight: normal;
	color: #333;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.fix-clock-icon{
	position: absolute !important;
	right: 33px;
	z-index: 2;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.paymentDetailsTable td, .paymentDetailsTable tr {
	padding: 0;
	margin: 0;
}

input[type="radio"]{
	margin-left: 0 !important;
}

.align-right {
	text-align: right;
}

.padding-left {
	padding-left: 25% !important;
}
.fontSize10{
	font-size: 70% !important;
}

.floatLeft{
	float:left !important;
}

.side-bar {
	background-color: #fff;
	padding-top: 50px;
	height: 100%;
	border-right:10px inset rgba(0, 0, 255, 0.12);
}

.page-header.navbar{
	height: auto !important;
	padding-bottom: 5px !important;
	margin-bottom: 10px !important;
}

.page-header.navbar .page-logo{
	padding-top: 10px;
}

.page-header.navbar .page-top{
	padding-top: 10px;
}

@media(min-width: 992px){
	.page-sidebar-fixed .page-sidebar {
	    position: fixed !important;
	    margin-left: 0;
	    top: 125px !important;
	}
}

.select2-container input[type=text] {
	min-width: 200px;
}

.width-all{
	width:100%;
}

.error-style{
	font-style: italic;
    font-weight: bold;
    color: #ff0000;
}



/*Fondo del cuadro de formulario*/
.portlet.box > .portlet-body{
	background-color: #04c !important;
}


/*Encabezado de tabla*/
h3, h5{
	color: white !important;
}


/*Colo de etiquetas formulario*/
.control-label{
	color: beige !important;
}

/*Parte de color del botón*/
.form .form-actions{
	    background-color: #04c !important;
}

/*Encabezado de tabla*/
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	color:beige !important;
}

/*Login*/

.label-black {
	color: black !important;
}

.checkbox-resultados-archivo {
	width: 19px !important;
}

.hidden{
	display: none;
}
.encabezados{
	color: blue !important;
    font-size: 120%;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white !important;
}

.dataTables_paginate paging_simple_numbers{
	color: white !important;
}

.paginate_button next {
    color: white !important;
}