.overflow-auto{
	overflow: auto;
}

.margin-top{
	margin-top: 1em;
}

.table-search input{
	font-size: 14px;
	font-weight: normal;
	color: #333;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.fix-clock-icon{
	position: absolute !important;
	right: 33px;
	z-index: 2;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.paymentDetailsTable td, .paymentDetailsTable tr {
	padding: 0;
	margin: 0;
}

input[type="radio"]{
	margin-left: 0 !important;
}

.align-right {
	text-align: right;
}

.padding-left {	
	padding-left: 25% !important;
}
.fontSize10{
	font-size: 50% !important;
}

.floatLeft{
	float:left !important;
}
